{
  "extends": ["eslint-config-with-prettier"],
  "rules": {
    "no-console": "off",
    "quotes": [2, "single", { "avoidEscape": true }],
    "prettier/prettier": ["error", { "singleQuote": true }],
    "jsx-a11y/anchor-is-valid": [
      "error",
      { "components": ["Link"], "specialLink": ["to"] }
    ],
    "react/prop-types": 0
  }
}
